* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./assets/background_4.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000000;
    
}



ul {
    list-style: none;
}


body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
    height: 130px;
    margin-top: 32px;
}

header div {
    background-image: linear-gradient(90deg, #797b7d 0%, #3a414d 50.52%, #412052 100%);
    border-radius: 50%;
    width: 120px;
    margin: auto;
    display: flex;
    padding: 3px;
    transition: transform .3s; 
    animation: fromTop .8s .4s backwards;
}

header div:hover {
    transform: scale(1.3);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #797b7d 0%, #3a414d 50.52%, #412052 100%);
    padding-top: 4px;
    border-radius: 10px;
    
}

main section:nth-child(1){
    animation: fromLeft .9s 1.4s backwards;
}

main section:nth-child(2){
    animation: fromLeft .9s 1.7s backwards;
}

main section:nth-child(3){
    animation: fromLeft .9s 2s backwards;
}

main section:nth-child(4){
    animation: fromLeft .9s 2.3s backwards;
}

main section:nth-child(5){
    animation: fromLeft .9s 2.6s backwards;
}

main section:nth-child(6){
    animation: fromLeft .9s 2.9s backwards;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    padding-bottom: 36px;
}


section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
margin-top: 24px;    
display: flex;
gap: 16px;
flex-wrap: wrap;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.3);
}

.favorite-games img {
    border-radius: 8px;
    width: 90px;
}

.favorite-channels-streamers img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

.network-list svg {
    width: 70px;
}


/* animation */

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }

}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }

}
